@font-face {
  font-family: "Shrikhand";
  src: url("../Fonts/Shrikhand-Regular.ttf") format("TrueType");
  font-size: medium;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Regular.ttf") format("TrueType");
  font-size: medium;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.loadingcontainer {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s 3s linear forwards;
  z-index: 1000;
}
.loadingcontainer__img {
  width: 80%;
  height: 100px;
  margin-bottom: 35px;
}
.loadingcontainer__loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
    z-index: 0;
  }
}
.headerindex {
  position: relative;
  z-index: 0;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.25);
  animation: fadein 3s linear forwards;
}
.headerindex__div_title {
  font-family: "Shrikhand";
  text-align: center;
  margin: 14px 0px 5px 0px;
  font-size: 30px;
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.location {
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  padding: 15px 0px;
  font-size: 16.5px;
  animation: fadein 3s linear forwards;
}
.location__icon {
  font-weight: 900;
  margin-right: 15px;
}
.location__text {
  font-weight: 900;
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.Explo {
  padding: 35px 35px;
  background-color: #fafafa;
  text-align: center;
  margin-bottom: 65px;
  animation: fadein 3s linear forwards;
}
.Explo__title {
  font-size: 23.5px;
  margin: 3px 15px 0px 13px;
}
.Explo__text {
  margin: 15px 0px 48px 0px;
}
.Explo__btn {
  display: inline-block;
  margin-left: 7px;
  border: 0;
  padding: 16px 22px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all linear 0.2s;
  transform: scale(1);
}
.Explo__btn:hover {
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.35);
  transform: scale(1.01);
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.funct {
  padding: 20px 15px;
  animation: fadein 3s linear forwards;
}
.funct__title {
  margin: 0px 0px 36px 5px;
}
.funct__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: CompteListe;
}
.funct__listbullet {
  display: flex;
  border-radius: 15px;
  background-color: #f6f6f6;
  padding: 20px;
  margin: 0px 0px 40px 10px;
  position: relative;
}
.funct__listbullet:hover {
  background-color: #f2eafb;
}
.funct__listbullet:hover .funct__listbullet--icon {
  color: #9356DC;
}
.funct__listbullet::before {
  counter-increment: CompteListe 1;
  content: counter(CompteListe) "";
  display: flex;
  background: #9356DC;
  color: #fff;
  height: 23px;
  width: 23px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -11px;
}
.funct__listbullet--icon {
  width: 25px;
  margin: 0px 15px 0px 21px;
  color: #7e7e7e;
  font-size: 19px;
}
.funct__listbullet--text {
  font-size: 16.3px;
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@media all and (min-width: 1024px) {
  .funct__list {
    display: flex;
  }
  .funct__listbullet {
    flex: 1;
    margin: 0px 20px 10px 20px;
    padding: 20px 0px;
  }
  .funct__listbullet::before {
    position: relative;
    left: -11px;
  }
}
.Rest {
  background-color: #f6f6f6;
  padding: 15px 16px 45px 16px;
  animation: fadein 3s linear forwards;
}
.Rest__title {
  margin: 40px 0px 20px 5px;
}
.Rest__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 250px);
  row-gap: 20px;
  padding: 0;
}
.Restbullet {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}
.Restbullet__link {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  color: black;
}
.Restbullet__link_img {
  height: 175px;
  object-fit: cover;
  width: 100%;
}
.Restbullet__link_new {
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  padding: 7.5px;
  right: 20px;
  top: 12px;
}
.Restbullet__linkfooter {
  padding: 15px;
  display: flex;
  align-items: center;
}
.Restbullet__linkfooter_fdiv {
  flex: 1;
}
.Restbullet__linkfooter_fdiv_title {
  margin: 0 0 5px;
}
.Restbullet__linkfooter_fdiv_text {
  margin: 0;
}
.Restbullet__linkfooter_sdiv {
  flex: 0;
}
.Restbullet__linkfooter_sdiv_icon {
  margin: 0px 13px 16px 0px;
}
.Restbullet__linkfooter_sdiv_icon::before {
  font-size: 23px;
  cursor: pointer;
}
.Restbullet__linkfooter_sdiv_icon:hover::before {
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  font-weight: bold;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@media all and (min-width: 1024px) {
  .Rest__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
}
.footerindex {
  position: relative;
  background-color: #000;
  color: white;
  padding: 27px 25px;
  animation: fadein 3s linear backwards;
}
.footerindex__logo {
  font-family: "Shrikhand";
  font-size: 18px;
}
.footerindexlist {
  margin: 0;
  padding: 0;
}
.footerindexlist__bullet {
  list-style: none;
  margin-top: 10px;
}
.footerindexlist__bullet_links {
  text-decoration: none;
  color: #FFF;
}
.footerindexlist__bullet_links:hover {
  text-decoration: underline;
}
.footerindexlist__bullet_links_icons {
  font-size: 12px;
  width: 15px;
  margin-right: 10px;
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
