@import "./Utils/variables";
@import "./Base/fonts";

body
{
    margin:0;
    padding:0;
    font-family: 'Roboto';
    list-style-type:none;
    text-decoration: none;
}

@import "./Layout/header";
@import "./Components/menudelayApparition";
@import "./Components/main";
@import "./Components/mainheader";
@import "./Components/maindiv";
@import "./Components/maincommand";
@import "./Layout/footer";
