.footer{
    position: relative;
    background-color: #000;
    color:white;
    padding:27px 25px;
    &__logo{
        font-family: 'Shrikhand';
        font-size:18px;
        
    }
    &list{
        margin: 0;
        padding: 0;
        &__bullet{
            list-style: none;
            margin-top:10px;
            &_links{
                text-decoration: none;
                color:#FFF;
                &:hover{
                    text-decoration: underline;
                }
                &_icons{
                    font-size:12px;
                    width:15px;
                    margin-right:10px;
                }
            }
        }    
    }
}
