@charset "UTF-8";
@font-face {
  font-family: "Shrikhand";
  src: url("Fonts/Shrikhand-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: "Roboto";
  src: url("Fonts/Roboto-Black.ttf") format("TrueType");
  src: url("Fonts/Roboto-Regular.ttf") format("TrueType");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  list-style-type: none;
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 0;
}
.header__div {
  position: relative;
}
.header__div_link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__div_link_icon::before {
  position: absolute;
  left: 21px;
  height: 10px;
  width: 20px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #000;
}
.header__div_title {
  font-family: "Shrikland";
  text-align: center;
  margin: 14px 0px 6px 0px;
  font-size: 30px;
}
.header__img {
  width: 100%;
  max-width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.delayApparition {
  animation: itemAppear 0.6s;
  animation-timing-function: ease, cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  top: 10px;
}
.delayApparition:nth-of-type(1) {
  animation-delay: 0.2s;
}
.delayApparition:nth-of-type(2) {
  animation-delay: 0.4s;
}
.delayApparition:nth-of-type(3) {
  animation-delay: 0.6s;
}
.delayApparition:nth-of-type(4) {
  animation-delay: 0.8s;
}
.delayApparition:nth-of-type(5) {
  animation-delay: 1s;
}
.delayApparition:nth-of-type(6) {
  animation-delay: 1.2s;
}
.delayApparition:nth-of-type(7) {
  animation-delay: 1.4s;
}
.delayApparition:nth-of-type(8) {
  animation-delay: 1.6s;
}
.delayApparition:nth-of-type(9) {
  animation-delay: 1.8s;
}
.delayApparition:nth-of-type(10) {
  animation-delay: 2s;
}
.delayApparition:nth-of-type(11) {
  animation-delay: 2.2s;
}
.delayApparition:nth-of-type(12) {
  animation-delay: 2.4s;
}
.delayApparition:nth-of-type(13) {
  animation-delay: 2.6s;
}
.delayApparition:nth-of-type(14) {
  animation-delay: 2.8s;
}
.delayApparition:nth-of-type(15) {
  animation-delay: 3s;
}
.delayApparition:nth-of-type(16) {
  animation-delay: 3.2s;
}
.delayApparition:nth-of-type(17) {
  animation-delay: 3.4s;
}
.delayApparition:nth-of-type(18) {
  animation-delay: 3.6s;
}
.delayApparition:nth-of-type(19) {
  animation-delay: 3.8s;
}
.delayApparition:nth-of-type(20) {
  animation-delay: 4s;
}
.delayApparition:nth-of-type(21) {
  animation-delay: 4.2s;
}
.delayApparition:nth-of-type(22) {
  animation-delay: 4.4s;
}
.delayApparition:nth-of-type(23) {
  animation-delay: 4.6s;
}
.delayApparition:nth-of-type(24) {
  animation-delay: 4.8s;
}
.delayApparition:nth-of-type(25) {
  animation-delay: 5s;
}
.delayApparition:nth-of-type(26) {
  animation-delay: 5.2s;
}
.delayApparition:nth-of-type(27) {
  animation-delay: 5.4s;
}
.delayApparition:nth-of-type(28) {
  animation-delay: 5.6s;
}
.delayApparition:nth-of-type(29) {
  animation-delay: 5.8s;
}
.delayApparition:nth-of-type(30) {
  animation-delay: 6s;
}

@keyframes itemAppear {
  0% {
    opacity: 0;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.main {
  margin-top: -35px;
  position: relative;
  z-index: 1;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}

.mainheader {
  display: flex;
  justify-content: space-between;
  padding: 31px 36px 5px 20px;
  position: relative;
}
.mainheader__title {
  padding: 0;
  margin: 0;
  font-family: "Shrikland";
  font-size: 28px;
}
.mainheader__icon {
  font-weight: bold;
  color: #000;
}
.mainheader__icon::before {
  content: "";
  font-size: 24px;
  cursor: pointer;
}
.mainheader__icon:hover::before {
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  font-weight: bold;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maindiv {
  padding: 5px 20px;
}
.maindivmenusections {
  margin-bottom: 35px;
}
.maindivmenusections__title {
  position: relative;
  padding-bottom: 10px;
  font-size: 18px;
  margin-bottom: 0;
}
.maindivmenusections__title::after {
  content: "";
  width: 45px;
  height: 2.5px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.maindivmenusections__list {
  text-decoration: none;
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
}
.maindivmenusections__listli {
  display: flex;
  background-color: #fff;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
.maindivmenusections__listli:hover .maindivmenusections__listlidivc {
  width: 60px;
  margin-right: -10px;
}
.maindivmenusections__listli:hover .maindivmenusections__listlidivcic {
  transform: rotate(0deg);
}
.maindivmenusections__listlidivd {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.maindivmenusections__listlidivd_title {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px 0;
  padding: 0;
}
.maindivmenusections__listlidivd_text {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.maindivmenusections__listlidivp_price {
  height: 49px;
  line-height: 77px;
  margin: 0;
  font-weight: bold;
}
.maindivmenusections__listlidivc {
  background-color: #99E2D0;
  width: 60px;
  margin: -10px -70px -10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.maindivmenusections__listlidivcic {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100px;
  transform: rotate(180deg);
  transition: all 0.75s;
}
.maindivmenusections__listlidivcic_icon::before {
  font-size: 18px;
  color: #99E2D0;
}

@media all and (min-width: 1024px) {
  .maindiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
  }
}
.maincommand {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 18px 10px 55px 10px;
}
.maincommand__btn {
  margin-left: 0px;
  border: 0;
  padding: 15px 50px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.maincommand__btn:hover {
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.35);
  transform: scale(1.01);
}

.footer {
  position: relative;
  background-color: #000;
  color: white;
  padding: 27px 25px;
}
.footer__logo {
  font-family: "Shrikland";
  font-size: 18px;
}
.footerlist {
  margin: 0;
  padding: 0;
}
.footerlist__bullet {
  list-style: none;
  margin-top: 10px;
}
.footerlist__bullet_links {
  text-decoration: none;
  color: #FFF;
}
.footerlist__bullet_links:hover {
  text-decoration: underline;
}
.footerlist__bullet_links_icons {
  font-size: 12px;
  width: 15px;
  margin-right: 10px;
}

/*# sourceMappingURL=La_note_enchantee.css.map */
