.funct{
    padding: 20px 15px;
    animation:fadein 3s linear forwards;
    &__title{
        margin: 0px 0px 36px 5px;
    }
    &__list{
        margin:0;
        padding:0;        
        list-style:none;
        counter-reset:CompteListe;
        &bullet{
            display:flex;            
            border-radius: 15px;
            background-color: #f6f6f6;
            padding:20px;
            margin: 0px 0px 40px 10px;
            position:relative;
            &:hover{
                background-color: lighten($primary-color,35%);
            }
            &:hover .funct__listbullet--icon{
                color:$primary-color;
            }
        }
        &bullet::before{
            counter-increment: CompteListe 1;
            content: counter(CompteListe) "";
            display:flex;
            background:$primary-color;
            color:#fff;
            height:23px;
            width:23px;
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            position: absolute;
            left:-11px;
        }
        &bullet--icon{
            width:25px;
            margin:0px 15px 0px 21px;
            color:#7e7e7e;
            font-size:19px;
        }
        &bullet--text{
            font-size:16.3px;
        }
    }
}

@keyframes fadein{
    0%{display:none; opacity:0;}
    99%{opacity:1;}
    100%{display:block; opacity:1;}  
}

@media all and (min-width:1024px){
    .funct{
        &__list{
            display: flex;
            
            &bullet{
                flex:1;
                margin:0px 20px 10px 20px;
                padding:20px 0px;
            }
            &bullet::before{
                position:relative;                
                left:-11px;
            }            
        }
    }
}