@font-face {
    font-family: 'Shrikland';
    src: url("Fonts/Shrikhand-Regular.ttf") format('TrueType');
    font-size: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("Fonts/Roboto-Black.ttf") format('TrueType');
    src: url("Fonts/Roboto-Regular.ttf") format('TrueType');
    font-size: normal;
    font-weight: normal;
}